.root {
  background-image: linear-gradient(transparent, #351c15);
  border: 1px solid currentColor;
  border-color: rgb(212 174 142 / 75%);
  border-radius: var(--full);
  font-size: small;
  letter-spacing: 0.25em;
  line-height: 3em;
  text-transform: uppercase;
  width: 250px;

  &:hover {
    .content {
      color: white;
    }
  }
}

.content {
  transition: 0.5s;
}
