@use '~styles/colors.module';
@use '~styles/functions';

.root {
  background-image: linear-gradient(transparent, colors.$russet);
  border: 1px solid colors.$apricot-light;
  border-radius: var(--full);
  font-size: small;
  letter-spacing: 0.25em;
  line-height: 3em;
  text-transform: uppercase;
  transition: 0.5s;
  width: functions.spacing(32);

  &:hover {
    border-color: colors.$apricot;
    color: colors.$white;
  }
}
