@use '~styles/fonts.module';
@use '~styles/functions';

.root {
  color: #e8d2b7;

  > * + * {
    margin-top: functions.spacing(4);
  }

  h1 {
    font-family: fonts.$heading;
    font-size: 4em;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 0.5em;
    line-height: 2.1em;
    text-transform: uppercase;
  }
}
