@use '~styles/colors.module';
@use '~styles/functions';

// .root {
//   margin: auto;
//   padding: 10%;
// }

// .content {
//   align-items: center;
//   display: flex;
//   gap: functions.spacing(2);
//   justify-content: space-between;
// }

.logo {
  width: auto;
}

.links {
  flex-grow: 1;
  text-align: right;
  width: auto;
}
