@use '~styles/colors.module';
@use '~styles/functions';

// .root {
//   margin: auto;
//   padding: 10%;
// }

// .content {
//   align-items: center;
//   display: flex;
//   gap: functions.spacing(2);
//   justify-content: space-between;
// }

.root {
  background: #031413;
  border-bottom: 1px solid #d0b696;
  border-color: rgb(212 174 142 / 50%);
}

.logo {
  width: auto;
}

.links {
  flex-grow: 1;
  text-align: right;
  width: auto;
}
