@use '~styles/functions';

// .root {
//   font-size: functions.spacing(2);
//   text-align: center;
// }

.links {
  width: auto;
}

.iconLinks {
  flex-grow: 1;
  text-align: right;
  width: auto;
}
